<%- include('../partials/header', {active: "login"}); %>

<div class="d-flex justify-content-center">

    <form class="form mt-2" action="<%= prefix %>/loginCheck" method="POST" role="form">
        <div class="col-12">
            <label class="col-12" >Email:</label>
            <input class="col-12" type="email" name="email" required>
        </div>
        <div class="col-12">
            <label class="col-12">Pincode:</label>
            <input class="col-12" type="password" name="pincode" required>
        </div>
        <div class="d-flex justify-content-center">
            <a class="m-2 col-12" href="<%= prefix %>/register">Nog geen account registeer hier!</a>
        </div>
        <div class="d-flex justify-content-center">
            <button class="button mt-2 pl-3 pr-3 p-2" type="submit">Login</button>
        </div>
    </form>

</div>

<%- include('../partials/footer'); %>