<%- include('../partials/header', {active: "register"}); %>

<div class="d-flex justify-content-center">

    <form class="form mt-2" action="<%= prefix %>/registerCreate" method="POST" role="form">
        <div class="col-12">
            <label class="col-12">Voornaam:</label>
            <input class="col-12" type="text" name="firstName" required>
        </div>
        <div class="col-12">
            <label class="col-12">Achternaam:</label>
            <input class="col-12" type="text" name="lastName" required>
        </div>
        <div class="col-12">
            <label class="col-12">Email:</label>
            <input class="col-12" type="email" name="email" required>
        </div>
        <div class="col-12">
            <label class="col-12">Pincode:</label>
            <input class="col-12" type="password" name="pincode" required>
        </div>
        <div class="col-12">
            <label class="col-12">Herhaal pincode:</label>
            <input class="col-12" type="password" name="checkPincode" required>
        </div>
        <div class="d-flex justify-content-center">
            <button class="button mt-2 pl-3 pr-3 p-2" type="submit">Register</button>
        </div>
    </form>

</div>

<%- include('../partials/footer'); %>