<%- include('../partials/admin'); %>

<%- include('../partials/header', {active: "Findings"}); %>

<div class="m-4 border border-tertiary">

    <a class="text-dark m-4" href="<%= prefix %>/findings/index"><button class="button p-2 pl-4 pr-4">Terug</button></a>

    <div class="p-4 container">
        <form class="form" action="<%= prefix %>/findings/store" method="POST" role="form">
            <div class="row">
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Name: </label>
                        <input class="col-12" type="text" name="name" required>
                    </div>
                </div>
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Description: </label>
                        <input class="col-12" type="text" name="description" required>
                    </div>
                </div>
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">user: </label>
                        <div class="row mt-4">
                            <label class="col-12 font-weight-bold p-0">Rol: </label>
                            <select name="roleId" class="form-control form-control-sm">
                                <% users.forEach(function (user) { %>
                                    <option value="<%= user.id %>"><%= user.firstName %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">user: </label>
                        <div class="row mt-4">
                            <label class="col-12 font-weight-bold p-0">Rol: </label>
                            <select name="roleId" class="form-control form-control-sm">
                                <% users.forEach(function (traject) { %>
                                    <option value="<%= traject.id %>"><%= traject.role %></option>
                                <% }) %>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 p-md-2 p-0 pt-4">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>

</div>

<%- include('../partials/footer'); %>