<%- include('../partials/admin'); %>

<%- include('../partials/header', {active: "Conferences"}); %>

<div class="m-4 p-2 border border-tertiary">

    <div class="container d-flex justify-content-center">
        <div class="card w-50 p-4">
            <div class="w-100">Weet je zeker dat je <%= conference.title %> wilt verwijderen?</div>
            <div class="row mt-3">
                <div class="col-6">
                    <form class="form" action="/<%= prefix %>conferences/delete" method="POST" role="form">
                        <input type="hidden" name="id" value="<%= conference.id %>">
                        <button class="button" type="submit">Delete</button>
                    </form>
                </div>
                <div class="col-6">
                    <a class="text-dark mt-4" href="<%= prefix %>/conferences/index"><button class="button">Annuleren</button></a>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('../partials/footer'); %>