<%- include('../partials/admin'); %>

<%- include('../partials/header', {active: "Users"}); %>

<div class="m-4 p-2 border border-secondary">

    <a class="text-dark m-4" href="<%= prefix %>/users/index"><button class="button p-2 pl-4 pr-4">Terug</button></a>

    <div class="p-4 container">
        <form class="form" action="<%= prefix %>/users/update" method="POST" role="form">
            <input type="hidden" name="id" value="<%= findings.id %>">
            <div class="row">
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Name: </label>
                        <input class="col-12" type="text" name="name" value="<%= findings.name %>" required>
                    </div>
                </div>
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Description: </label>
                        <input class="col-12" type="text" name="description" value="<%= findings.description %>" required>
                    </div>
                </div>
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">userId: </label>
                        <select name="roleId" class="form-control form-control-sm">
                            <% users.forEach(function (user) { %>
                                selected="selected"
                                <option <% if(findings.userId == user.id) { %>selected="selected" <% } %>value="<%= user.id %>"><%= user.firstName %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Rol: </label>
                        <select name="roleId" class="form-control form-control-sm">
                            <% roles.forEach(function (role) { %>
                                selected="selected"
                                <option <% if(traject.id == user.trajectId) { %>selected="selected" <% } %>value="<%= traject.id %>">StartRoute: <%= traject.startRoute %> EndRoute: <%= traject.endRoute %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-md-2 p-0 pt-4">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>

</div>

<%- include('../partials/footer'); %>