<%- include('../partials/admin'); %>

<%- include('../partials/header', {active: "Findings"}); %>

<div class="m-4 border border-secondary">
    <div class="row d-flex justify-content-between justify align-items-center">
        <h1 class="m-4 p-2">Findings</h1>
        <a class="m-4 mr-5" href="<%= prefix %>/findings/create"><button class="button m-4 p-2 pl-4 pr-4">Create</button></a>
    </div>

    <table class="table table-striped border-secondary">
        <thead>
        <tr>
            <th scope="col" class="border-secondary">Naam</th>
            <th scope="col" class="border-secondary">Show</th>
            <th scope="col" class="border-secondary">Update</th>
            <th scope="col" class="border-secondary">Delete</th>
        </tr>
        </thead>
        <tbody>
        <% findings.forEach(function (finding) { %>
            <tr>
                <th scope="row" class="border-secondary"><%= finding.name %></th>
                <td class="border-secondary"><a href="<%= prefix %>/findings/show/<%= finding.id %>">Show</a></td>
                <td class="border-secondary"><a href="<%= prefix %>/findings/edit/<%= finding.id %>">Update</a></td>
                <td class="border-secondary"><a href="<%= prefix %>/findings/destroy/<%= finding.id %>">Delete</a></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer'); %>