<%- include('../partials/admin'); %>

<%- include('../partials/header', {active: "Conferences"}); %>

<div class="m-4 p-2 border border-tertiary">

    <a class="text-dark m-4" href="<%= prefix %>/conferences/index"><button class="button p-2 pl-4 pr-4">Terug</button></a>
    <div class="p-4 container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="row mt-4">
                    <div class="col-12 font-weight-bold">Title: </div>
                    <div class="col-12"><%= finding.name %></div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="row mt-4">
                    <div class="col-12 font-weight-bold">Description: </div>
                    <div class="col-12"><%= finding.description %></div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="row mt-4">
                    <div class="col-12 font-weight-bold">Deze finding is van: </div>
                    <div class="col-12"><%= user.firstName %></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="row mt-4">
                    <div class="col-12 font-weight-bold">Traject Route: </div>
                    <div class="col-12"><%= traject.startRoute %> <%= traject.endRoute %></div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="row mt-4">
                    <div class="col-12 font-weight-bold">dateStart: </div>
                    <div class="col-12"><%= findings.dateStart %></div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="row mt-4">
                    <div class="col-12 font-weight-bold">dateEnd: </div>
                    <div class="col-12"> <%= findings.dateEnd %></div>
                </div>
            </div>
        </div>
    </div>

</div>

<%- include('../partials/footer'); %>