<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lost and Found application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="<%= prefix %>/css/index.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="b-background">
<nav class="nav nav-pills align-items-center border-bottom border-tertiary navbar-expand-md ns-background">
    <div class="navbar-nav mr-auto d-flex align-items-center">
        <a href="/"><img src="<%= prefix %>/images/NSLogo.png" width="100" height="100" class="" alt="Conference"></a>

        <a class="nav-link text-dark <%if(active=="FindingsUser"){%>font-weight-bold<%}%>" href="<%= prefix %>/FindingsUser/index">Gevonden voorwerpen</a>
    </div>
    <div class="navbar-nav">
        <% if(userSession) { %>
            <% if(userSession["role"] === 2 || userSession["role"] === 3) { %>
            <a class="nav-link text-dark <%if(active=="FindingsWerknemers"){%>font-weight-bold<%}%>" href="<%= prefix %>/FindingsWerknemers/index">Gevonden voorwerpen Toevoegen</a>
            <% } %>
        <% } %>

        <% if(userSession) { %>
            <% if(userSession["role"] === 3) { %>
                <div class="dropdown ">
                    <button type="button" class="btn btn-secondary dropdown-toggle " data-toggle="dropdown">
                        Beheerder
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item <%if(active=="Users"){%>font-weight-bold<%}%>" href="<%= prefix %>/users/index">Users</a>
                        <a class="dropdown-item <%if(active=="Findings"){%>font-weight-bold<%}%>" href="<%= prefix %>/findings/index">Findings</a>
                    </div>
                </div>
            <% } %>
        <% } %>
        <% if(!userSession) { %>
            <a class="nav-link text-dark <%if(active=="Login"){%>font-weight-bold<%}%>" href="<%= prefix %>/login">Login</a>
            <a class="nav-link text-dark <%if(active=="Register"){%>font-weight-bold<%}%>" href="<%= prefix %>/register">Register</a>
        <% } %>
        <% if(userSession) { %>
        <a class="nav-link text-dark" href="<%= prefix %>/logout">Logout</a>
        <% } %>
    </div>
</nav>
