body {
    background-color: white;
}

.b-background{
    background-color: #e6e6e9;
}

.border-tertiary{
    border-color: grey;
}

.mr-5{
    margin-right: 5rem;
}

.ns-background{
    background-color: #fdce30;
}

.button {
    background-color: #fdce30;
    border: none;
    border-radius: 5px;
}