<%- include('../partials/admin'); %>

<%- include('../partials/header', {active: "Users"}); %>

<div class="m-4 p-2 border border-secondary">

    <a class="text-dark m-4" href="<%= prefix %>/users/index"><button class="button p-2 pl-4 pr-4">Terug</button></a>

    <div class="p-4 container">
        <form class="form" action="<%= prefix %>/users/store" method="POST" role="form">
            <div class="row">
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Voornaam: </label>
                        <input class="col-12" type="text" name="firstName" required>
                    </div>
                </div>
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Achternaam: </label>
                        <input class="col-12" type="text" name="lastName" required>
                    </div>
                </div>
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Email: </label>
                        <input class="col-12" type="email" name="email" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Pincode: </label>
                        <input class="col-12" type="password" name="pincode" required>
                    </div>
                </div>
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Rol: </label>
                        <select name="roleId" class="form-control form-control-sm">
                            <% roles.forEach(function (role) { %>
                                <option value="<%= role.id %>"><%= role.role %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 p-md-2 p-0 pt-4">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>

</div>

<%- include('../partials/footer'); %>