<%- include('../partials/admin'); %>

<%- include('../partials/header', {active: "Users"}); %>

<div class="m-4 p-2 border border-secondary">

    <a class="text-dark m-4" href="<%= prefix %>/users/index"><button class="button p-2 pl-4 pr-4">Terug</button></a>

    <div class="p-4 container">
        <form class="form" action="<%= prefix %>/users/update" method="POST" role="form">
            <input type="hidden" name="id" value="<%= user.id %>">
            <div class="row">
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Voornaam: </label>
                        <input class="col-12" type="text" name="firstName" value="<%= user.firstName %>" required>
                    </div>
                </div>
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Achternaam: </label>
                        <input class="col-12" type="text" name="lastName" value="<%= user.lastName %>" required>
                    </div>
                </div>
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Email: </label>
                        <input class="col-12" type="email" name="email" value="<%= user.email %>" required>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Wachtwoord: </label>
                        <input class="col-12" type="password" name="password" required>
                    </div>
                </div>
                <div class="col-md-4 col-12 p-md-4">
                    <div class="row mt-4">
                        <label class="col-12 font-weight-bold p-0">Rol: </label>
                        <select name="roleId" class="form-control form-control-sm">
                            <% roles.forEach(function (role) { %>
                                selected="selected"
                                <option <% if(role.id == user.roleId) { %>selected="selected" <% } %>value="<%= role.id %>"><%= role.role %></option>
                            <% }) %>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 p-md-2 p-0 pt-4">
                    <input type="submit">
                </div>
            </div>
        </form>
    </div>

</div>

<%- include('../partials/footer'); %>