<%- include('../partials/admin'); %>

<%- include('../partials/header', {active: "Users"}); %>

<div class="m-4 border border-secondary">
    <div class="row d-flex justify-content-between justify align-items-center">
        <h1 class="m-4 p-2">Users</h1>
        <a class="m-4 mr-5" href="/users/create"><button class="button m-4 p-2 pl-4 pr-4">Create</button></a>
    </div>

    <table class="table table-striped border-secondary">
        <thead>
            <tr>
                <th scope="col" class="border-secondary">Voor en Achternaam</th>
                <th scope="col" class="border-secondary">Show</th>
                <th scope="col" class="border-secondary">Update</th>
                <th scope="col" class="border-secondary">Delete</th>
            </tr>
        </thead>
        <tbody>
        <% users.forEach(function (user) { %>
            <tr>
                <th scope="row" class="border-secondary"><%= user.firstName %> <%= user.lastName %></th>
                <td class="border-secondary"><a href="<%= prefix %>/users/show/<%= user.id %>">Show</a></td>
                <td class="border-secondary"><a href="<%= prefix %>/users/edit/<%= user.id %>">Update</a></td>
                <td class="border-secondary"><a href="<%= prefix %>/users/destroy/<%= user.id %>">Delete</a></td>
            </tr>
        <% }) %>
        </tbody>
    </table>
</div>

<%- include('../partials/footer'); %>