<%- include('../partials/admin'); %>

<%- include('../partials/header', {active: "Conferences"}); %>

<div class="m-4 p-2 border border-secondary">

    <a class="text-dark m-4" href="<%= prefix %>/users/index"><button class="button p-2 pl-4 pr-4">Terug</button></a>

    <div class="p-4 container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="row mt-4">
                    <div class="col-12 font-weight-bold">Voornaam: </div>
                    <div class="col-12"><%= user.firstName %></div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="row mt-4">
                    <div class="col-12 font-weight-bold">Achternaam: </div>
                    <div class="col-12"><%= user.lastName %></div>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="row mt-4">
                    <div class="col-12 font-weight-bold">Email: </div>
                    <div class="col-12"><%= user.email %></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="row mt-4">
                    <div class="col-12 font-weight-bold">Rol: </div>
                    <div class="col-12"><%= role.role %></div>
                </div>
            </div>
    </div>

</div>

<%- include('../partials/footer'); %>